body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e7e7e7;
}

h1,
h2,
h3 {
    margin: 10px;
}


.headerTitle {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 80px;
    font-weight: bolder;
}

.square {
    background-color: #fe355c;
    height: 80px;
}

.headerTitle>p {
    margin: 0;
    padding: 10px;
}

#title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    width: 100%;
    max-width: 1240px;
    justify-content: start;
    margin-bottom: 10px;
    gap: 10px;

}

#title>p {
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}

button {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;

}

#container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center
}

.newProjectBtn,
.newTodoBtn {
    margin-bottom: 10px;
    background-color: #B43243;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1240px;
}

.nameProjectCard,
.nameTodoCard {
    text-align: center;
}

.projectCard,
.todoCard {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    Box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.projectInfo,
.todoInfo {
    text-overflow: ellipsis;
}

.descriptionProjectCard,
.descriptionTodoCard {
    overflow: hidden;
}

.projectOptions,
.todoOptions {
    display: flex;
    justify-content: space-around;
}

.createTodoBtn,
.backToProjectsBtn {
    background-color: black;
}

.updateBtn {
    background-color: white;
    color: black;
    border: solid black 1px;
}

.deleteBTn,
.deleteBtn {
    background-color: white;
    color: #B43243;
    border: solid #B43243 1px;
}

#priority-1, #priority-2 {
    background-color: #b2ffc5;
    color: #00340f;
    font-weight: bold;
    border-radius: 5px;

}

#priority-3 {
    background-color: #f6ff7a;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

#priority-4,
#priority-5 {
    background-color: #912C38;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #fe355c;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*DIALOG FORM*/
#showModal {
    width: 300px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
}

#showModal>h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
}

label {
    display: block;
    font-size: 15px;
    font-weight: bold;
}

input[type=text],
input[type=date],
textarea,
select {
    width: 100%;
}


#confirmBtn,
#updateBtnForm,
#confirmBtnForm,
#updateBtnForm {
    padding: 5px 0px;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: #1c1c1c;
    border: none;
    border-radius: 5%;
    width: 100%;

}